<div class="head">
  <div class="mine">我的</div>
  <div class="set">设置</div>
  <div class="info">
    <nz-avatar class="img" [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'anticon anticon-user'"></nz-avatar>
    <div class="wrap">
      <div>李传送</div>
      <div>201818188</div>
    </div>
    <i nz-icon type="right" theme="outline"></i>
  </div>
</div>
<ul class="ul">
  <li>
    <div>年龄</div>
    <i nz-icon type="right" theme="outline"></i>
  </li>
  <li>
    <div>学号</div>
    <i nz-icon type="right" theme="outline"></i>
  </li>
  <li>
    <div>联系方式</div>
    <i nz-icon type="right" theme="outline"></i>
  </li>
  <li>
    <div>个性签名</div>
    <i nz-icon type="right" theme="outline"></i>
  </li>
  <li>
    <div>当前称号</div>
    <i nz-icon type="right" theme="outline"></i>
  </li>
</ul>